* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0 ;
    padding: 0;
    height: 100%;
    background: antiquewhite;
}
.head {
    height: 100px;
    margin: 10px;
    background: aqua;
    position: relative;
}
.loginButton {
    position: absolute;
    right: 25px;
    top: 25px;
    height: 50px;
    width: 100px;
    border: 1px solid red;
    background: none;
}
.loginButton span {
    color: darkorange;
    font-size: 20px;
}

.main {
    position: relative;
    height: 800px;
    margin: 10px;
    background: gold;
}
.left {
    background: beige;
    width: 70%;
    position: absolute;
    margin: 10px;
    height: 780px;
    text-align: center;
}
p {
    font-size: 50px;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
.left p {

}
.right {
    background: beige;
    width: 25%;
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    height: 780px;
    text-align: center;
}
.foot {
    height: 50px;
    background: cornflowerblue;
    margin: 10px;
    text-align: center;
}
.foot p {
    margin: 0;
}
#mask {
    background: black;
    opacity: 0.5;
    /*
    在js中使用函数代替
    height: 1000px;
    width: 100%;
    */
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}
#loginBox {

    position: fixed;
    /*
    通过js设置
    top: 100px;
    left: 100px;
    */
    z-index: 120;
    text-align: center;
    background-color: #17ff6a;
    border: 1px solid brown;
    border-radius: 10px;
}

.padding {
    height: 50px;
    font-size: 20px;
    width: 500px;
    border: 1px solid royalblue;
    border-radius: 10px;
    background-color: transparent;
    display: block;
    margin: 20px;
    padding-left: 15px;
}

.SandR input {
  height: 50px;
    font-size: 20px;
    width: 200px;
    border: 1px solid royalblue;
    border-radius: 10px;
    background-color: transparent;
    position: relative;
}
.sub {
    position: absolute;
    left: -40px;
}
.res {
    position: absolute;
    right: -40px;
}
#closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #3224ff;
    border-radius: 10px;
    background-color: transparent;
}